@import url(fonts.css);
@import url(colors.css);

:root {
    font: 12pt Delius, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Romande ADF Style Std", serif;
    margin-block-end: 0.5rem;
}

h1 {
    font: 3.5rem Tangerine, cursive;
}

.main-header {
    a {
        text-decoration: none;
        color: currentColor;
        width: 100%;
        display: flex;
        justify-content: center;

        h1 {
            position: relative;
            bottom: -1.25rem;
        }

        .logo {
            max-height: 4rem;
            fill: currentColor;
            align-content: baseline;
        }
    }

    a:visited {
        color: currentColor;
    }
}

p {
    line-height: 1.5rem;
    margin-block-end: 0.5rem;
    padding-inline-start: 0.25rem;
}

a {
    color: light-dark(var(--dark-link-color), var(--light-link-color));
}

a:visited {
    color: light-dark(var(--dark-link-visited-color), var(--light-link-visited-color))
}

img {
    max-height: 20ex;
    max-width: 100vw;
    width: auto;
    object-fit: cover;
    margin-inline: auto;
    margin-block: 1rem;
    display: block;
}

nav {
    font-family: Romande, serif;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;
        row-gap: 0.5ex;
        column-gap: 0.5rem;

        li {
            background-color: light-dark(var(--dark-alt-color), var(--light-alt-color));
            color: light-dark(var(--light-contrast-color), var(--dark-brand-color));
            padding: .5ex .5em;
            border-radius: 5px;

            a {
                text-decoration: none;
                color: currentColor;
            }

            a:visited {
                color: currentColor;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        padding: 1ex 1em;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-block-end: 1.5ex;
    }

    p {
        padding-inline-start: 1em;
        margin-block-end: 1ex;
    }
}

form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 0.5em;
    max-width: 70%;
    margin: 2ex auto;
}

label {
    grid-column: 1/3;
}

input {
    grid-column: 3/-1;
}

input[type=radio], input[type=checkbox] {
    grid-column: 3;
}

input[type=submit] {
    grid-column: 3/5;
}
